.margin-and-align-center{
    text-align: center;
    padding : 15px;
}

.logo-navbar{
    width: 120px;
    height: 20px;
}

.lighten{
    color: grey;
}

.sign-up{
    padding: 10px;
    background-color: aqua;
    border-color: white;
    border-radius: 5px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 300px;
    padding-right: 300px;
}

.navbar-right{
    display: flex;
    justify-content: space-between;
}

.navbar-right > div{
    padding: 0px 5px 0px 5px;
}

a{
    text-decoration: none;
    color: gray;
}
